giga__client_id=TODO
giga__client_secret=TODO
giga__user=TODO
giga__password=TODO
open_router__api_key=TODO
yandex__token=TODO
yandex__folder_id=TODO
# todo replace all above with entrypoints_path
entrypoints_path=TODO
